.books {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vw;
    gap: 2vw;
    h1 {
        padding: 1vw;
        text-transform: capitalize;
    }
    .available {
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
    .ant-table-wrapper {
        width: 100%;
    }
}